    <footer>
      <div class="container-footer">
        <img src="/images/global/logo.png" alt="" class="logo-footer" />
        <ul class="col">
          <li class="titre-col-footer">Fink</li>
          <li>Comment ça fonctionne Fink</li>
          <li>Notre quizz en ligne</li>
          <li>Nos derniers tatoueurs</li>
          <li>Nos tatoueurs ont du talent</li>
        </ul>
        <ul class="col">
          <li class="titre-col-footer">Aide</li>
          <li>S'inscrire</li>
          <li>Avis</li>
          <li>À propos</li>
          <li>Contact</li>
        </ul>
        <ul class="col">
          <li class="titre-col-footer">Juridique</li>
          <li>Termes et conditions</li>
          <li>Politique de cnfidentialité</li>
        </ul>
      </div>
      <span><p>&copy;Fink_2023</p></span>
    </footer>