{% extends 'base.html.twig' %}

{% block title %}Fink - Editer mes salons
{% endblock %}

{% block body %}
	<div class="container-form box">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}

		{% for message in app.flashes('danger') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}

		<h1>Editer le salon</h1>

		{{ form(form) }}
		</div>
	{% endblock %}
