@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,600,700|Source+Sans+Pro:300,400,500,600,700&display=swap");

:root {
  --border-color: #2c2c2c8e;
  --font-title: 45px;
  --font-little-title: 26px;
  --background-black: #1d2120;
}

body {
  margin: 100px 0 0 0;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  flex-shrink: 0;
}

.main-content {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h3 {
  font-size: var(--font-title);
  margin-bottom: 50px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-70 {
  margin-top: 70px;
}

.mb-100 {
  margin-bottom: 100px;
}

.w-300 {
  width: 300px;
}

.input-type,
.input-type select {
  height: 40px;
  border-radius: 5px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f2f2f2;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 10px;
  font-weight: 500;
}

.button:hover {
  background-color: #ddd;
}

.box {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.title-page {
  width: 80%;
  margin: auto;
}

.title-page h1 {
  margin-top: 80px;
}

.title-page h4 {
  font-weight: 400;
}
.separator {
  height: 80px;
}

/*Pagination*/
.pagination {
  margin: 50px 0;
  text-align: center;
}

.pagination span {
  background-color: #f2f2f2;
  padding: 10px 20px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin-left: 5px;
}

.pagination span.current {
  background-color: #ddd;
}

.pagination span a {
  text-decoration: none;
  color: #333;
}

/* MENU-NAV */
.container-menu-nav {
  position: fixed;
  max-height: 90px;
  min-width: 100%;
  text-align: center;
  background-color: var(--background-black);
  display: flex;
  justify-content: space-between;
  top: 0;
  padding-bottom: 10px;
  z-index: 10;
}
.container-menu-nav div:nth-child(1) {
  width: 15%;
}

.container-menu-nav div:nth-child(2) {
  width: 70%;
  display: flex;
  align-items: center;
}

.container-menu-nav div:nth-child(2) nav {
  width: 100%;
}

.container-menu-nav div:nth-child(3) {
  width: 15%;
}

.container-menu-nav ul {
  display: inline-flex;
  height: fit-content;
  justify-content: space-evenly;
  width: 100%;
}
.container-menu-nav ul li {
  padding-left: 10px;
  list-style: none;
}
.container-menu-nav ul li a {
  text-decoration: none;
  color: #ddd;
  font-size: 22px;
}
.container-menu-nav a {
  text-decoration: none;
  color: #ddd;
}

.container-menu-nav .branding {
  font-size: 3rem;
  flex-direction: row;
}
.container-menu-nav a img {
  max-height: 100%;
  max-width: auto;
  vertical-align: middle;
}

.dropdown {
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown i {
  margin-left: 5px;
}

.dropdown .dropdown-login li {
  list-style: none;
  font-weight: 400;
  margin-top: 5px;
}

.dropbtn {
  background-color: var(--background-black);
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: var(--background-black);
  top: 85px;
  padding: 20px;
}

.dropdown-content a {
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content li {
  list-style: none;
}

/* FIN-MENU-NAV */
/* LOGIN-REGISTER-CONTACT */
.container-form {
  display: flex;
  max-width: max-content;
  min-width: fit-content;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 100px;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 20px;
}
.container-form h1 {
  text-align: center;
}
.container-form form {
  text-align: center;
  padding: 1rem 50px;
  max-width: max-content;
  margin: auto;
}
.container-form form div {
  margin-top: 3vh;
  margin-bottom: 0.8vh;
}
.container-form form div input,
select,
.input-msg {
  border-radius: 5px;
  width: 500px;
  padding-left: 15px;
}

.container-form form div label {
  padding-right: 15px;
  display: flex;
}

.container-form form div input,
textarea,
select:not(.search-form select) {
  margin-top: 10px;
}

.container-form form button {
  border-radius: 5px;
  background-color: rgba(103, 255, 61, 0.5);
}
.container-form form button:hover {
  border-radius: 5px;
  background-color: rgba(103, 255, 61, 0.708);
}

.select-date select {
  width: 200px;
}

#reservation input,
select {
  width: 100%;
}

#reservation #reservation_message {
  width: 97.5%;
}

.preference-radio {
  display: flex;
}

.preference-radio input {
  width: unset !important;
  margin-top: unset !important;
}

#salon img {
  width: 250px;
  height: auto;
}
.vich-image {
  display: flex;
  flex-direction: column;
}

.vich-image div {
  display: flex;
}

.vich-image div input {
  width: 50px !important;
  margin-top: 0 !important;
}

div.vich-image a:nth-of-type(2) {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f2f2f2;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 10px;
  font-weight: 500;
  width: 50%;
  margin: auto;
}

div.vich-image a:nth-of-type(2):hover {
  background-color: #ddd;
}
/* FIN-LOGIN-REGISTER-CONTACT */
/* HOME */
.container-home {
  width: 100%;
  padding: 0;
}
.container-home .header-wrapper,
.header-error {
  background-image: url("/images/global/wrap-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 65vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-home .header-wrapper h1,
.header-error h1 {
  text-align: left;
  font-size: 3.8rem;
  color: white;
  font-weight: 300;
  padding-left: 5%;
}

.header-error {
  background-image: url("/images/global/rien-ici.jpg") !important;
  min-height: 400px;
}

.h4-error {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  height: 250px;
}

.search-form {
  display: flex;
  padding-bottom: 30px;
}

.search-form button {
  padding: 11px 35px;
  margin-top: 0;
  margin-left: 20px;
}

.filter-salon .search-form {
  margin-left: 30px;
}

.example-wrapper .search-form {
  padding-left: 5%;
}
/* FIN-HOME */
/* BLOG */
.container-blog {
  display: grid;
  grid-template-columns: repeat(2, 40rem);
  grid-gap: 20px;
  justify-content: center;
}
.container-blog .articles:nth-child(even) {
  grid-column-start: 2;
}
.articles {
  width: 40rem;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 20px;
}
.articles img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 9px 9px 0 0;
}
.articles h4 {
  font-size: 1.5rem;
  font-weight: 500;
}
/* FIN-BLOG */
/* SHOW-ARTICLE */
.article img {
  object-fit: cover;
  height: 250px;
  width: 100%;
  margin: 0;
}
.article .article-contenu {
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 50px;
  margin-top: -20px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 150px;
  background-color: whitesmoke;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
}
.article .article-contenu h4 {
  font-size: 1.8rem;
  font-weight: 500;
}
.article .article-contenu .sujet-article {
  font-size: 1.5rem;
}
.article .article-contenu .contenu-article {
  font-size: 1.1rem;
}
.article .article-contenu small {
  font-size: 1rem;
  color: coral;
}
/* FIN-SHOW-ARTICLES */
/* LISTE-SALONS */

.list-salon {
  flex-wrap: wrap;
  margin-bottom: 0;
}

.list-salon .last-salon-item {
  margin-top: 30px;
}

.search-salon {
  width: 80%;
  margin: auto;
  margin-top: 170px;
}

.search-salon h2 {
  font-size: 25px;
  font-weight: 500;
}

.search-salon .search-form {
  margin: 0;
}

.salon-wrapper {
  background-image: url("/images/global/salon-wrapper.jpg") !important;
  min-height: 400px !important;
}
.salon-not-found {
  margin-top: -20px;
  width: 100%;
  height: 500px;
  background-image: url("/images/global/wrap-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.salon-not-found h4 {
  padding-top: 180px;
  font-size: 4rem;
  font-weight: 500;
  color: #f0f0f0;
}
.salon-not-found a {
  font-size: 1.5rem;
}

.header-salon-search {
  display: flex;
  flex-direction: row;
  padding-left: 5%;
}

/* SALON */
.salon {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-self: center;
}
.img-salon {
  object-fit: cover;
  height: 400px;
  width: 100%;
  margin: 0;
}
.salon .salon-contenu {
  justify-content: center;
  background-color: whitesmoke;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  grid-column: 2;
  grid-row: 1;
  min-width: 100%;
}
.salon .salon-contenu .salon-contenu-infos {
  padding-left: 50px;
}
.salon .salon-contenu h4 {
  font-size: 1.7rem;
  font-weight: 500;
  white-space: pre-line;
}
.salon .salon-contenu p {
  font-size: 1rem;
  font-weight: 500;
  white-space: pre-line;
}
.salon .sujet-salon {
  font-size: 1.5rem;
  background-color: whitesmoke;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  grid-column: 3;
  grid-row: 1;
  width: 1000px;
}
.salon .sujet-salon .sujet-salon-infos {
  padding: 10px 30px 25px 30px;
}
.salon .sujet-salon .salon-description {
  font-size: 1.1rem;
  font-weight: 400;
  white-space: pre-line;
}
.salon-propietaire {
  font-size: 1.1rem;
  font-weight: 500;
  white-space: pre-line;
}

.carousel {
  position: relative;
  overflow: hidden;
  height: auto;
  max-width: 1000px;
  margin: 0 auto;
}

.carousel img {
  display: none;
  width: 100%;
}

.carousel img.active {
  display: block;
}
.carousel-container {
  display: flex;
  overflow: hidden;
}

.carousel-image {
  width: 100%;
  height: 600px;
  transition: transform 0.3s ease-in-out;
}

.carousel-image.active {
  transform: translateX(0);
}

.carousel-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.carousel-buttons button {
  background-color: #eee;
  border: none;
  font-size: 32px;
  color: #333;
  padding: 10px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.next-button {
  border-radius: 20px 0 0 20px;
}

.prev-button {
  border-radius: 0 20px 20px 0;
}

.carousel-buttons button:hover {
  opacity: 0.8;
}

.prev-button:before {
  content: "\2190";
}

.next-button:before {
  content: "\2192";
}
/* .carousel .prev,
.carousel .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  cursor: pointer;
} */

/* .carousel .prev {
  left: 10px;
}

.carousel .next {
  right: 10px;
} */

/* FIN-SALON */
/* FIN-LIST-SALONS */
/* QUIZ */
.quiz {
  padding: 50px;
}
/* FIN-QUIZ */
/* Table RESERVATION / SALON */
.table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
  margin-bottom: 80px;
}

.table thead tr th:nth-child(1) {
  width: 10%;
}
.table thead tr th:nth-child(2) {
  width: 10%;
}
.table thead tr th:nth-child(3) {
  width: 50%;
}
.table thead tr th:nth-child(4) {
  width: 10%;
}
.table thead tr th:nth-child(5) {
  width: 20%;
}

.table tr td {
  text-align: center;
  height: 70px;
  border-bottom: 2px solid var(--border-color);
}

.table tr .button:hover {
  background-color: rgba(103, 255, 61, 0.708);
}

.delete-reservation .button.red:hover {
  background-color: rgba(247, 51, 51, 0.708);
}
/* FOOTER */
footer {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  background-color: var(--background-black);
}

footer .container-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem;
}

footer .container-footer .col {
  list-style: none;
}

footer .container-footer .col .titre-col-footer {
  font-size: 1.1rem;
  font-weight: 700;
  color: #ddd;
}

footer .container-footer .col li {
  padding: 1.1rem;
  color: #ddd;
}

footer .container-footer .col li a {
  padding: 1.1rem;
  color: #ddd;
  text-decoration: none;
}

footer > span {
  text-align: center;
  width: 100%;
  background-color: var(--background-black);
}

footer span p {
  color: white;
  margin: 0;
  padding-bottom: 10px;
  font-size: 12px;
}
footer img {
  height: 300px;
}
/* FIN-FOOTER */

.how-to-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-to-box {
  width: 80%;
  display: flex;
  flex-direction: row;
}

.how-to-text {
  width: 50%;
  font-size: 21px;
}

.how-to-text h3 {
  margin-top: 0;
}

.how-to-text p {
  padding: 0 60px 0 0;
}

.how-to-text a {
  font-size: 18px;
}

@media screen and (max-width: 1400px) {
  .how-to-img img {
    height: 650px !important;
  }
}

.how-to-img {
  width: 50%;
}

.how-to-img img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.last-salon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.last-salon-flex {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-evenly;
}

.last-salon-item {
  width: 30%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.last-salon-item img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 9px 9px 0 0;
}

.last-salon-item h4 {
  font-size: var(--font-little-title);
  margin: 0;
}

.last-salon-item p {
  font-size: 16px;
  margin: 5px;
  text-align: center;
  padding: 0 10px 0 10px;
}

/* .carousel {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
} */

.last-real h3 {
  text-align: center;
}

.no-element img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.no-element h4 {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin: 50px 0;
}

.no-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-element a {
  margin-bottom: 50px;
}
/* ALERT */

.alert {
  text-align: center;
  width: 80%;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.alert-success {
  background-color: rgba(32, 199, 32, 0.28);
  border: 1px solid green;
  color: green;
}

.alert-danger {
  background-color: rgba(226, 44, 20, 0.28);
  border: 1px solid red;
  color: red;
}
