{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}
	<h1>Bienvenue au sein de l'administration de Fink !</h1>
	<div>
		<a class="button" href="{{ path('home.index') }}">Retour au site</a>
	</div>
	
{% endblock %}
