{% extends 'base.html.twig' %}

{% block title %}Fink
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1>FINK</h1>
		{% include "components/_search_data.html.twig" with {form:form} %}
	</div>
{% endblock %}
