{% extends 'base.html.twig' %}

{% block title %}Fink - Réserver avec
	{{salon.nom}}
{% endblock %}

{% block body %}
<div class="container-form box">
	<h1>Pour réserver un créneau avec
		{{ salon.nom }}<br>
		veuillez remplir ce formulaire</h1>
	<div>
		{%for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-success">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}
	</div>
	<div>
		{{form(form)}}
	</div>
</div>
	{% endblock %}
