{% extends 'base.html.twig' %}

{% block body %}
	<h1>Pour réserver un créneau avec
		{{ salon.nom }}
		veuillez remplir ce formulaire</h1>
	<div>
		{{form(form)}}
		</div>

		<div>
			{%for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="flash-{{ label }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endfor %}
		</div>
	{% endblock %}
