{% if form %}
	{{ form_start(form) }}
	<div  class="search-form">
		<div>
			{{ form_widget(form.q) }}
			{{ form_errors(form.q) }}
		</div>
		<div>
			<button type="submit" id="button-addon2" class="button">Rechercher</button>
		</div>
	</div>
	{{ form_end(form) }}
{% endif %}
