{% extends 'base.html.twig' %}

{% block title %}Fink - Connexion
{% endblock %}

{% block body %}
	<div>
		<h1>Formulaire de connnexion</h1>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}


		{% if error %}
			<div class="alert alert-danger mt-4">
				{{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
		{% endif %}

		<form action="{{ path('security.login') }}" method="post" name="login">
			<div>
				<label for="username">Adresse email</label>
				<input type="email" id="username" name="_username" placeholder="exemple@fink.fr" value="{{ last_username }}">
			</div>
			<div class="form-group">
				<label for="password">Mot de passe</label>
				<input type="password" id="password" name="_password" placeholder="********">
			</div>

			<button type="submit">
				Se connecter
			</button>
		</form>
	</div>
{% endblock %}
