{% extends "base.html.twig" %}

{% block title %}
	Fink - Inscription
{% endblock %}

{% block body %}
	<div class="container-form box">
		<h1>Formulaire d'inscription</h1>

		{{ form(form) }}

	</div>
	{% endblock %}
