{% extends 'base.html.twig' %}

{% block title %}Fink - Accés non autorisé
{% endblock %}

{% block body %}
    <div class="title-error">
        <h1>Erreur 404 - Cette page n'existe pas</h1>
        <p>Désolé, la page à laquelle vous souhaitez accéder n'existe pas.</p>
    </div>
{% endblock %}